h1{
    background-image: url(pic.png);
    background-position: center;
    font-size: 120px;
    border-radius: 30px;
    text-decoration: line-through;
    border: 2px solid black;
}
.captch{
    display: flex;
    justify-content: center;
}
.input-value{
    display: flex;
    justify-content: center;
}
.input-value input[type="text"]{
    width: 300px;
    height: 40px;
    font-size: 20px;
    color: red;
    text-align: center;
    border-radius: 20px;
    outline: none;
}
.input-value input[type="text"]:hover{
    box-shadow: 10px 10px 20px rgb(56, 0, 0) ;
}
.input-value a{
    position: absolute;
    margin-left: 257px;
    margin-top: 1.5px;
    background-color: red;
    padding: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}
.author-name{
    display: flex;
    justify-content: center;
}
h2{
    margin-top: 130px;
    font-size: 70px;
    cursor: pointer;
}
h2 a{
    color: red;

}
.header{
    font-size: 40px;
    text-align: center;
    margin: 0;
}